body {
    background-image: url("photos/bg.jpg");
    background-size: cover;
}

h1 {
    font-size: 70px; 
}

p {
    font-size: 40px;
}

#glass {
    width: 900px;
    height: 400px;
    background-size: cover;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    margin: auto;
    margin-top: 10%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border: black solid 3px;
}

.gtext {
    margin-top: 17%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: rgb(16, 171, 209);
    color: white;
}
  
.topnav .icon {
    display: none;
}
  